{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "Service": "${service_name}"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
