[ 
   { 
      "essential": true,
      "image": "${repo_url}:${image_tag}",
      "name": "holdem_server_container",
      "portMappings": [ 
         { 
            "containerPort": 80,
            "protocol": "tcp"
         }
      ],
      "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
               "awslogs-group": "${log_group_name}",
               "awslogs-region": "${aws_region}",
               "awslogs-stream-prefix": "holdem_server_task"
            }
      },
      "environment": [
         {
            "name": "REDIS_URL",
            "value": "${redis_url}"
         },
         {
            "name": "MONGO_URL",
            "value": "${mongo_url}"
         },
         {
            "name": "MONGO_USERNAME",
            "value": "${mongo_username}"
         },
         {
            "name": "MONGO_PASSWORD",
            "value": "${mongo_password}"
         }
      ]
   }
]