# dependencies
**/node_modules

# mac
.DS_Store
*/.DS_Store
**/.DS_Store

# logs
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# terraform
**/.terraform
**/*.plan
**/*.tfvars

# coverage
**/coverage

# misc
**/temp

# client
client/build

# server
server/globalConfig.json
