# dependencies
**/node_modules

# production
client/build

# mac
.DS_Store
*/.DS_Store
**/.DS_Store

# logs
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# terraform
**/.terraform
**/*.plan

# coverage
**/coverage

# misc
**/temp