.container {
  height: 100%;
  flex-grow: 1;
  border: 1px solid #e6e6e6;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.playersContainer {
  width: 100%;
  flex-grow: 1;
  margin-top: 2rem;
}

.players {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playerInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  margin-left: 1rem;
}

.container .cell {
  color: #6b6b76;
  font-size: 11px;
  font-family: 'Libre Franklin', sans-serif;
}

.container .header {
  color: #6b6b76;
  font-size: 11px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}
