.container {
  height: 100%;
  width: 100%;
  padding: 5.1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  min-height: calc(500px + 10.2rem);
  margin: 0 auto;
}
