.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
