.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.container .label {
  margin: 1rem 0;
}

.option {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: green;
}
